@font-face {
	font-family: 'TBC Din Nusxuri';
	src: url('../font/tbcdin_nusxuri-webfont.eot');
	src: url('../font/tbcdin_nusxuri-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/tbcdin_nusxuri-webfont.woff') format('woff'),
		url('../font/tbcdin_nusxuri-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}